In [3]:
import pandas as pd
f = pd.read_csv('worldwide internet prices in 2022 - IN 2022 (1).csv')
f.dropna()

,Country code,Name,Continental region,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Average price of 1GB (USD at the start of 2021),Average price of 1GB (USD – at start of 2020)
0,IL,Israel,NEAR EAST,27.0,$0.05,$0.02,$20.95,$0.11,$0.90
1,KG,Kyrgyzstan,CIS (FORMER USSR),20.0,$0.15,$0.10,$7.08,$0.21,$0.27
2,FJ,Fiji,OCEANIA,18.0,$0.19,$0.05,$0.85,$0.59,$3.57
3,IT,Italy,WESTERN EUROPE,29.0,$0.27,$0.09,$3.54,$0.43,$1.73
4,SD,Sudan,SUB-SAHARAN AFRICA,33.0,$0.27,$0.03,$0.92,$0.63,$0.68
...,...,...,...,...,...,...,...,...,...
225,MW,Malawi,SUB-SAHARAN AFRICA,5.0,$25.46,$20.37,$25.46,$27.41,$3.59
226,ST,São Tomé and Príncipe,SUB-SAHARAN AFRICA,16.0,$30.97,$13.27,$121.65,$28.26,$5.33
227,SH,Saint Helena,SUB-SAHARAN AFRICA,4.0,$39.87,$38.57,$51.42,$52.50,$6.04
228,FK,Falkland Islands,SOUTH AMERICA,4.0,$44.56,$29.71,$82.26,$40.41,$55.47
229,GQ,Equatorial Guinea,SUB-SAHARAN AFRICA,4.0,$49.67,$45.16,$63.22,$12.78,$47.39

In [16]:
import pandas as pd

dist = {'A':['1','2','3'],'B':['4','5','6'],'C':[7,8,9]}
pd_dist = pd.DataFrame(dist)
pd_dist['A']  = pd.to_numeric(pd_dist['A'])
pd_dist['B']  = pd.to_numeric(pd_dist['B'])
#pd_dist.describe()
print(pd_dist.dtypes)

A    int64
B    int64
C    int64
dtype: object

In [ ]:
import pandas as pd
df = pd.DataFrame({'date_1':['2022-01-01','2022-01-02','2022-01-03',],
                   'time_1':['10:00:00','11:00:00','12:00:00',],
                   'date_2':['01/01/2022','01/02/2022','01/03/2022',],
                   'time_2':['10:00 AM','11:00 AM','12:00 PM',]})
df.to_csv('dad.csv',index=False)