In [14]:
import pandas as pd
d =  pd.read_csv('data.csv')
my = d
my.fillna(my['Age'].mean(),inplace=True)
my.head()

    Age  Income          Education Marital Status
0  34.0   50000  Bachelor's degree         Single
1  30.0   60000        High School        Married
2  32.0   45000    Master's degree       Divorced
3  32.0   70000          Doctorate        Married

In [24]:
sl = {'Fruit':['Арбуз','Яблоко','Банан','Яблоко','Ананас','Сгнивший мандарин','Дыня','Вишня']}
qq = pd.DataFrame(sl)
print(qq)
print(qq['Fruit'].mode()[0])

               Fruit
0              Арбуз
1             Яблоко
2              Банан
3             Яблоко
4             Ананас
5  Сгнивший мандарин
6               Дыня
7              Вишня
Яблоко

In [25]:
one = qq
one = pd.get_dummies(qq,columns=['Fruit'])
one.head()

,Fruit_Ананас,Fruit_Арбуз,Fruit_Банан,Fruit_Вишня,Fruit_Дыня,Fruit_Сгнивший мандарин,Fruit_Яблоко
0,False,True,False,False,False,False,False
1,False,False,False,False,False,False,True
2,False,False,True,False,False,False,False
3,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False

In [30]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
en = OneHotEncoder(categories='auto',sparse=False)
en.fit(qq[['Fruit']])
res = pd.DataFrame(en.transform(qq[['Fruit']]),columns=en.get_feature_names(['Fruits']))

#print(en.transform(qq[['Fruit']]))
#print(en.get_feature_names(['Fruits']))
print(res)

   Fruits_Ананас  Fruits_Арбуз  Fruits_Банан  Fruits_Вишня  Fruits_Дыня  \
0            0.0           1.0           0.0           0.0          0.0
1            0.0           0.0           0.0           0.0          0.0
2            0.0           0.0           1.0           0.0          0.0
3            0.0           0.0           0.0           0.0          0.0
4            1.0           0.0           0.0           0.0          0.0
5            0.0           0.0           0.0           0.0          0.0
6            0.0           0.0           0.0           0.0          1.0
7            0.0           0.0           0.0           1.0          0.0

   Fruits_Сгнивший мандарин  Fruits_Яблоко
0                       0.0            0.0
1                       0.0            1.0
2                       0.0            0.0
3                       0.0            1.0
4                       0.0            0.0
5                       1.0            0.0
6                       0.0            0.0
7                       0.0            0.0

c:\Users\kege\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)